/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

img {
	max-width: 100%;
	height: auto;
}
.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}
.logo a {
	font-size:  24px;
	color:  #25D6D1;
	padding: 5px;
	border:  1px solid;
	display: block;
	margin-top: 10px;
	text-decoration: none;
}
/*.lf_auth_links div {*/
	/*display: inline-block;*/
	/*text-align: right;*/
/*}*/
.lf_auth_links {
    text-align: right;
    display: inline-block;
}
.dropdown-menu.show {
    display: block;
    background: #25D6D1;
    border: none;
}
.lf_auth_links a {
	margin: 0 5px;
	color: #25D6D1;
}
a.nav-link.lf_new_topic_btn {
	background:  #25D6D1;
	color: #fff;
}

.headernav button.btn.btn-default {
	background:  #25D6D1;
	border: navajowhite;
}

.headernav input.form-control {
	background: #ddd!important;
	width: 100%;
}

.headernav .search .txt {
	width: 88.5%;
}

.offset-md-2.col-md-8.lf_auth_form {}

.lf_auth_form {
	padding: 50px 0;
}

.lf_auth_form h2 {
	color:  #25D6D1;
	font-size:  28px;
	margin: 20px 0;
	text-align:  center;
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

.btn.btn-primary {
	background: #25D6D1!important;
}
.btn.btn-link {
	color:  #25D6D1;
	text-decoration: none;
}
.lf_page_title {
	padding: 10px 0;
	color: #25D6D1;
	text-align: center;
	margin: 20px 0;
}
.form-control {
	padding: 10px;
	font-size:  14px;
	border: 1px solid #25D6D1;
}

.form-group label {
	font-size:  14px;
}

.col-md-8.lf_topics_wrapper,.lf_sidebar_wrapper {
	margin: 20px 0;
}
.page-item.active .page-link {
	background-color: #25D6D1;
	border-color: #25D6D1;
}

.page-item .page-link {
	color: #25D6D1;
}
.alert.alert-success {
	background:  #25D6D1;
	color: #fff;
	border: navajowhite;
}

.lf_icons {
	margin: 10px 0;
	text-align: center;
	font-size: 24px;
	position: absolute;
}
.lf_icons i{
	cursor:pointer;
}

.lf_edit i {
	color: #25D6D1;
}

.lf_del button {
	background:none;
	border:none;
	color:#f48989

}
.lf_del button:active, .lf_del button:focus, .lf_del button:hover {
	border: none;
	box-shadow: none;
	outline: none;
}
p.lf_points {
	text-align:  center;
	background:  #25D6D1;
	color:  #fff;
	border-radius:  50%;
	height: 30px;
	width: 30px;
	line-height:  30px;
	margin: 10px 0!important;
}
.lf_wrap_content {
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 1px 2px #c9cccd;
	margin-bottom: 20px;
	padding: 15px ;
	margin-top: 20px;
}

/*.lf_auth_links .nav-item.dropdown:hover .dropdown-menu {*/
	/*display: block;*/
	/*border-top: 1px solid #c9cccd;*/
/*}*/

/*.lf_auth_links .nav-item.dropdown .dropdown-menu {*/
	/*!*display: none;*!*/
	/*text-align: right;*/
	/*right: 0;*/
	/*float:  none;*/
	/*top: 95%;*/
	/*left: auto;*/
	/*border: navajowhite;*/
	/*border-radius:  0;*/
	/*background:  #25D6D1;*/
	/*color: #fff;*/
/*}*/

.lf_auth_links  a.dropdown-item {
	color: #fff;
	padding: 5px 10px;
	margin: 0;
}

.lf_auth_links a.dropdown-item:hover,.lf_auth_links a.dropdown-item:focus,.lf_auth_links a.dropdown-item:active {
	background: none;
}
code {
	font-size: 87.5%;
	color: #e83e8c;
	word-break: break-word;
	white-space: pre;
	width: 100%;
	overflow: scroll;
}
.md-header.btn-toolbar {
	background: #25D6D1;
}

.md-editor button.btn-default.btn-sm.btn {
	color:  #fff;
	background: none;
	border:  none;
	outline:  none;
	padding: 10px;
}

.md-editor button.btn-default.btn-sm.btn:hover,.md-editor button.btn-default.btn-sm.btn:focus,.md-editor button.btn-default.btn-sm.btn:active {
	border:  none;
	box-shadow:  none;
	outline:  none;
}

.md-editor .md-controls .md-control,.md-editor .md-controls .md-control:hover {
	color: #fff;
}

.lf_wrap_content form input,.lf_wrap_content form textarea, .lf_wrap_content form select{
	border-radius:  0;
	box-shadow: none;
	outline: none;
}

.lf_wrap_content form textarea:active, .lf_wrap_content form textarea:active,.lf_wrap_content form textarea:hover,.lf_wrap_content form textarea:focus,.lf_wrap_content form input:hover,.lf_wrap_content form input:focus,.lf_wrap_content form input:active,.lf_wrap_content form select:hover,.lf_wrap_content form select:focus,.lf_wrap_content form select:active {
	box-shadow:  none;
	outline:  none;
}
.md-editor.active {
	box-shadow:  none;
	border-color:  #25D6D1;
}
.md-editor textarea {
	background:none;
	padding: 10px;
}
.md-editor.md-fullscreen-mode .md-header {
	background: #25D6D1;
}

.md-editor.md-fullscreen-mode {
	padding: 0;
}

.md-fullscreen-mode a.md-control.md-control-fullscreen {
	display: none;
}

a.exit-fullscreen {
	color: #fff!important;
}

.md-editor.md-fullscreen-mode .btn.active, .md-editor.md-fullscreen-mode .btn:active, .md-editor.md-fullscreen-mode .btn:focus, .md-editor.md-fullscreen-mode .btn:hover {
	color: #fff!important;
}
.md-editor.md-fullscreen-mode .md-header {
	top: 0;
}
.lf_comment_wrapper {
    margin: 5% 0;
}


.post.lf_comment_list {
    margin-bottom: 1%;
}

.postinfobot {
    padding: 10px
}

.avatar img {
	width: 50px;
	height: 50px;
}

.avatar img {
	width: 50px;
	max-width: 50px;
}

.lf_comment_list .posttext {
	padding: 10px;
}
.lf_comment_list .postinfobot {
	line-height: 30px;
}

.lf_comment_list .userinfo {
	width: 100%;
}

strong.lf_commenter_name {
	color: #25D6D1;
	padding:  10px 0;
	border-bottom:  1px solid #ddd;
	margin-bottom: 10px;
}

strong.lf_commenter_name span {
	color: #777;
	font-weight: normal;
}
.lf_comment_list .avatar {
	width: 100%;
	margin-bottom: 20px;
}
.lf_comment_list .userinfo {
	display: inline-block;
	padding: 0;
	position: relative;
}
.lf_comment_list .lf_icons.pull-right {
	width: 50%;
	margin: 0;
}

.lf_comment_list .lf_icons.pull-right {
	width: auto;
	margin: 0;
	right: 0;
	top: 50%;
}
.lf_comment_list .lf_icons.pull-right i{
	font-size: 18px;
	padding: 5px;
}


.lf_comment_list .postinfobot {
	padding: 0 10px;
}

.lf_topics_wrapper p {
	margin: 0;
}

.lf_topics_wrapper .posttext h1, .lf_topics_wrapper .posttext p, .lf_topics_wrapper .posttext h2,.lf_topics_wrapper .posttext strong {
	font-size: 14px;
	font-weight: normal;
	color: #666;
	word-wrap: break-word;

}
.lf_topics_wrapper .posttext .lf_topic_title{
	font-size: 20px;
}
a.lf_reply {
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
}
a.lf_reply i{
	color: #000;
}

.lf_modal .md-controls {
	display: none;
}

.lf_modal .alert {
	font-size: 14px;
	padding: 10px 15px;
	line-height: 20px;
}
.lf_topics_wrapper .next.pull-right,.lf_topics_wrapper .next.pull-right .posted {
	width: auto;
}

.lf_edit,.lf_del {
	line-height: 0;
	font-size:  16px;
	text-align: left;
}
.lf_del button {
	padding: 0;
	margin-top: -2px;
}
.headernav .search button {
	font-size: 17px;
}



.lf_comment_list .posttext {
	width: 100%;
}
.post.lf_comment_list.lf_reply_list {
	background: #f7f7f7;
	margin-left: 20px;
}

.lf_comment_list.lf_reply_list .avatar {
	margin-bottom: 10px;
}
.alert.alert-success a {
	color: #fff;
}
.likeblock span {
	margin: 10px;
}
.commentbg a {
	color: #fff;
	display: block;
	padding: 12px 17px;
}
.lf_ba.pull-right {
	font-size: 15px;
	margin-right: 15px;
}
.posted i {
	margin-left: 10px;
}
.lf_comment_list .posted.pull-left {
	margin-left: 0;
}
.lf_ba i {
	color: #25D6D1!important;
}

.lf_user_profile_feed h2 {
	font-size:  20px;
	border-bottom:  1px solid;
	padding-bottom: 10px;
}

.lf_user_topics ul {
	margin:  0;
	padding:  0;
	list-style:  none;
	font-size: 16px;
}
.lf_user_topics ul a{
	color:#25D6D1;
}

.lf_user_topics ul li{
	padding: 10px 0;
}

.lf_user_topics {
	padding: 30px 0;
}
.lf_user_topics h3 {
	font-size: 20px;
}
.lf_user_comment_body p {
	margin: 0;
}

.lf_user_comment_body {
	padding: 10px;
	background: #f1f1f1;
}
.sidebarblock h3 {
	font-size:  20px;
	color: #25D6D1;
	border-bottom: 1px solid;
}
.dropdown-menu.show {
	text-align: right;
	padding: 0;
	min-width: 400px;
	left: auto!important;
	right: -100%!important;
}
.dropdown-menu.show a{
	white-space: normal;
}
#lf_user_link_panel span.badge.badge-light {
    background: #EB3941;
    color: #fff;
    position:  absolute;
    top: 0px;
    left: 10px;
}
.lf_notifications {
	background: #20beba;
	padding: 10px 0;
}
.lf_notifications span {
	color: #fff;
	margin-bottom: 10px;
	display: block;
	padding-right: 10px;
}
a.btn.btn-social.btn-github {
	background: #24292E;
	color: #ddd;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
}
a.btn.btn-social.btn-google {
	background: #DF4A32;
	color: #ddd;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
}
.bootstrap-tagsinput {
    padding:  10px!important;
    font-size:  14px;
    border:  1px solid #25D6D1!important;
    border-radius:  0!important;
    width: 100%;
}

.bootstrap-tagsinput .badge {
    background:  #25D6D1!important;
    border: none!important;
}
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
.aa-input-container {
	display: inline-block;
	position: relative; }
.aa-input-search {
	width: 300px;
	padding: 12px 28px 12px 12px;
	border: 2px solid #e4e4e4;
	border-radius: 4px;
	-webkit-transition: .2s;
	transition: .2s;
	font-family: "Montserrat", sans-serif;
	box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
	font-size: 11px;
	box-sizing: border-box;
	color: #333;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; }
.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
	display: none; }
.aa-input-search:focus {
	outline: 0;
	border-color: #3a96cf;
	box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1); }
.aa-input-icon {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50%;
	right: 16px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	fill: #e4e4e4; }
.aa-hint {
	color: #e4e4e4; }
.aa-dropdown-menu {
	background-color: #fff;
	border-top-width: 1px;
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
	border-radius: 4px;
	box-sizing: border-box; }
.aa-suggestion {
	padding: 12px;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: .2s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center; }
.aa-suggestion:hover, .aa-suggestion.aa-cursor {
	background-color: rgba(241, 241, 241, 0.35); }
.aa-suggestion > span:first-child {
	color: #333; }
.aa-suggestion > span:last-child {
	text-transform: uppercase;
	color: #a9a9a9; }
.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
	font-weight: 700;
	font-style: normal;
	background-color: rgba(58, 150, 207, 0.1);
	padding: 2px 0 2px 2px; }

div#aa-input-container {
	width:  100%;
	display: block;
}

span.algolia-autocomplete {
	display:  block;
	width: 100%;
}
